//loader
#loading{
  background-color: #374140;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0;
  top: 0;
  transition: opasity .3s linear, z-index .1s linear .3s;

  &.hide{
    z-index: -1;
    opacity: 0;
  }
}

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object{
  width: 20px;
  height: 20px;
  background-color: #FFF;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

}








@-webkit-keyframes object_one {
  75% { -webkit-transform: scale(0); }
}

@keyframes object_one {

  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

}





@-webkit-keyframes object_two {


  75% { -webkit-transform: scale(0); }


}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform:  scale(0);
  }

}

@-webkit-keyframes object_three {

  75% { -webkit-transform: scale(0); }

}

@keyframes object_three {

  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

}

//title



%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}

.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

//container
.container{
  margin: 0 auto;

  &.sm{
    max-width: 684px;
  }
}



//header

#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;


  .user-control{
      padding: 18px;
      border-left: 1px solid $lightGrey;
      font-weight: $fontRegular;
      font-size: 20px;
      color: #9c9c9c;
      position: relative;

    span{
      margin: 0 20px 0 15px;
    }
    .icon-arrow-down{
      font-size: 12px;
    }
    .blue-text{
      font-weight: 300;
      font-size: $smallFontSize;
      color: $blue;
      vertical-align: middle;
    }
    .circle-one{
      padding: 4px 4px;
      border-radius: 50%;
      background-color: $orange ;
      position: absolute;
      left: 15px;
      top: 15px;
    }
    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        transform: rotate(180deg);
        display: inline-block;
        line-height: 0;
      }
    }
    .icon-profile{
      vertical-align: middle;
    }
  }
  .user-control:hover{
    background-color: $xsLightGrey;
  }
}

//aside

%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}
#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  .menu-control{

    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        &+span{
        margin-top: 5px;
      }

      }
    }
  }
  .aside-menu{
    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }
        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

        [class*="icon-"]{
          font-size: 17px;
          margin-right: 15px;
        }
          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }
}

.your-manager {
  padding: 26px 52px 0 18px;
  border-top: 1px solid $black;
  margin-top: 25px;

  span {
    text-transform: uppercase;
    font-size: $smallTitle;
    color: #9c9c9c;
  }
  .manager {
    margin-top: 18px;
    position: relative;

    a {
      color: $blue;
    }
    a:hover{
      color: $orange;
    }
    .circle {
      padding: 6px 6px;
      border-radius: 50%;
      background-color: $green;
      position: absolute;
      top: 0;
      left: 32px;
    }

    img {
      width: 43px;
      height: 43px;
      border-radius: 50%;
    }
  }
}
//content
.content-wrapper{
  padding: 18px;
  height: calc (100 vh - 62 px);
  overflow-y: auto;
}

//card

.card {
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header {
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
  .card-date {
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
  .btn-row {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .card-form {

    .select-group {
      padding: 18px;

      .input-group:nth-child(3){
        width: 15%;
      }
      .input-group {
        width: 40%;
        margin-right: 15px;
        font-size: 14px;
          .input-group #sheme{
            font-size: 14px;
          }
        label {
          display: block;
          font-size: $titleFontSize;
          color: $titleColor;
          font-weight: 500;
          margin-bottom: 15px;
        }
        input {
          width: 100%;
        }
        .jq-selectbox__select-text{
          color: $titleColor;
          font-size: 14px;
        }
      }
    }
  }
}

.datepicker-form{

  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $lightGrey;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }
    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .btn{
    vertical-align: middle;
  }
}


//btn

.btn{
  padding: 14px 22px;
  border-radius: 3px;
  color: $btn-color;
  font-size: 18px;
}
.btn:hover{
  color: #fff;
}
.btn-default{
  background-color: $darkGrey;
}
.btn-default:hover{
  background-color: $grey;
}
.btn-action{
  padding: 11px 21px;
  background-color: $orange;
}
.btn-action:hover{
  background-color: $orangeLight;
}
.btn-disabled{
  padding: 9px 17px;
  background-color: $lightGrey;
  border-radius: 3px;
}


//input

.form-control {
  border: 1px solid $lightGrey;
  border-radius: 2px;
  font-size: $fontSize;
  color: $inputColor;
  padding: 13px 16px;
  font-family: $fontFamily;

  &:hover {
    border-color: $inputColorHover;
    cursor: pointer;
    color: $black;
  }
  &:focus {
    border-color: $inputColorFocus;
    cursor: pointer;
    color: $black;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: $inputColorDisabled;
    background-color: $inputColorDisabled;
    color: transparent;

    //&:hover {
    //  @extend .disabled;
    //}
  }
  &:invalid {
    border-color: $inputColorInvalid;
  }
}
.big{
  padding: 13px 165px;
}
.input-width{
  width: 40%;
}
textarea{
  padding: 17px;
  resize: none;
  color: $superBlack;
}
//dropdown-menu

  .dropdown-menu {
    display: none;
    position: absolute;
    padding: 10px 18px 24px;
    top: 0;
    padding-top: 70px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, transparent 60px, #f5f5f5 0);
    box-shadow: 0 0 10px;


  li{
    font-size: $xssmallFonrSize;
    display: flex;
    justify-content: space-between;
  }
  li + li{
    margin-top: 13px;
  }
  span{
    color: $superBlack;
  }
   a:hover{
    color: $orange;
  }
}

//table

.table{
  font-size: $titleFontSize;
  border-collapse: collapse;

  tbody{
    tr{
      &:hover{
        background-color: $tableTrHover;

        .hide-icons{
          opacity: 1;
        }
      }
      &:last-child{
        td{
          border-bottom: 1px solid $lightGrey;
        }
      }
    }
    .hide-icons{
      opacity: 0;
      transition: all .2s linear;
    }
  }

  td{
    padding: 18px;
    border-top: 1px solid $lightGrey;
  }
  .blue-link{
    color: $blue;
  }
  .icon-trash{
    margin-left: 20px;
  }
}


.table-small {
  font-size: $smallFontSize;
  border-collapse: collapse;
  td {
    padding: 18px;
    border-top: 1px solid $lightGrey;
  }
  tbody {
    tr {
      &:hover {
        background-color: $tableTrHover;
      }
    }
  }
  thead {
    th {
      padding-left: 19px;
      padding-top: 35px;
      padding-bottom: 15px;
      color: $titleColor;
      width: 25%;


      .icon-arrow-up-small {
        font-size: 8px;
        display: none;
      }
      span:hover {
        background-color: $xsLightGrey;
        color: $superBlack;
        transition: all 0.2s linear;
        padding: 10px 10px 10px 10px;

        .icon-arrow-up-small{
          display: inline;
          margin-left: 6px;
        }
      }
    }
  }
}


//nav
nav{
  text-align: center;

  .pagination li a {
    border: none;
    color: $blue;
  }
  .pagination i{
    font-size: 12px;
    vertical-align: middle;
    color: $grey;
  }
  .pagination li a:hover{
    border-radius: 5px;
    color: $titleColor;
  }
}

//dropdown reset
.dropdown-menu{
  float: none;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}


.modal {
  background-color: $modalBg;
  display: none;

  &#links {
    min-height: 100px;
    width: 70%;
  }
}

//label
$labelFontSize: 16px;
$labelColor: #a6a6a6;

//select
.input-group .language{

  .lang-ru{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNqkk01Ow0AMhZ8zTlMRUUSQuqg4AWyqHCKwoldhzQF6HmADtLkCWSCBxAHYIPEjugCUzEzthn2mxJJnMdI3fs8ek/cefSJCz+CyLC+dczPJ7SpHkeYVe4GLokBjrVyH2iGwMVguFjNmaiH7+yPXYaEE76RQlh/eGky/Gzy+rESSvk0dsIe6PT5MoCyf37zjNX3G/PpJjAlMHTp0as7j4uwIc2EZA/FDMcbZCLGhIAW19Rtmw0KaUbsB9tM9GFEQIsCKAmWUZSQjfCQZOFMHYQ+QHMooS/cD+PzkFHVVtT3onEXbgzjPUd3dgj+HIikewk4m8BQ2SFUQCaMsOxmdiQlmfPBXPECBfgRhlKVlhi/vsLvtTqlYirDSclNJ889dstR3ndcCDABI0W9vitkDJAAAAABJRU5ErkJggg==) no-repeat 0 7px;
  }
  .lang-usa{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;
  }
  .lang-fr{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcRJREFUeNqkk71OG0EUhc+dn13bYGwlZZQ8QHCRgipSKiRaKhrEI4CiPFFSIqWAFJHSR6KhpSASTxDFFhvzY5udmZyZ9S4LZTzSaHdn9p77nXtnJISAVYbCisPI0ckpSr8LT5JIMw+4OHyFYhHg/JJOa/jBAK9HI/in2c9MDP7+cYePuBUwXQCbbzPcLTxc7U4puLUeht++AuvrgDDUGlx92H5vYuZiXmL/y6/KEDNvf3qJ6/mjQFAabmOA4cEe0M9BNODzcWUBAkz4M7qaAvxQAb1Ohnu0BGjBdTvMzgz9HgVKYFosBTgmxEUmJBMEvlprYZhF/KOAMhmQM0nOEMdEN9ctgpljFDclrgRk9JdRoKwrFgm4BivVNCS5bRM8RIFlR42HNpY1cg1BFNCmFtBV/RuCJBAgRqcupBVasE49EfBpXZLVhHrXsvCndFDcTG03klpk6bMtkOpZWxDO+4ZAMClJQDThQQouEuawWbRQHyRTCeSqKqTmc/a3JhCMA6vczdiB+FtSYAzn83PbN9UkEVwjgOn453m/Ocozj8ut3xjPYheWBCygH77Amx8FSYpGj7vTWJF3EfI/75KTVa/zPwEGAOCWsO19nu/2AAAAAElFTkSuQmCC) no-repeat 0 7px;
  }
  .jq-selectbox__select-text{
 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;
  }
  .jq-selectbox__select-text{
    padding-left: 35px;
  }
  .jq-selectbox__dropdown {
    top: 34px;

          li{
            padding-left: 45px;
            background-position: 10px 6px;
            font-size: 12px;
            color: $black;
          }
    .jq-selectbox li.selected {
      background-color: transparent;
      color: $black;
    }
    .jq-selectbox li {
      padding-left: 35px;
      background-position: 10px 5px;
    }

  }
}

//

.jq-selectbox li.selected{
  background-color: transparent;
}
.jq-selectbox.jqselect{
  width: 100%;
}

//checkbox
input[type="checkbox"]{
  display: none;

  &+label{
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &::before{
      content: '';
      width: 18px;
      height: 18px;
      display: inline-block;
      border: 1px solid $lightGrey;
      background-color: #fff;
      margin-right: 16px;
    }
  }
  &:checked{
    & +label {
      &::before{
        background: $green url("../img/checkbox-bg.png") no-repeat center;
      }
    }
  }
}

//checkbox wrap
.checkbox-wrap {
  padding: 18px;

  .checkboxes {
    padding-top: 30px;
    height: 170px;

    .checkbox-group {
      padding: 12px 30px 12px 12px;
      flex-grow: 1;
      flex-basis: 33%;

      &:hover{
        background-color: $xsLightGrey;

        [class*='icon-']{
          opacity: 1;
        }
      }
    [class*='icon-']{
      opacity: 0;
      }
    }
  }
}


//generate link

.generate-links{
  padding: 18px;
  .btn{
    line-height: 1.3;
  }
   i{
     margin-right: 10px;
     vertical-align: middle;
   }
  .input-shirt{
    width: 15%;
  }
}

.input-shirt{
  width: 15%;
}
.select-shirt{
  width: 32%;
}

//checkbox-big
.check-box-big{
  width: 50%;
}


//table-details

.table-details {

  border-collapse: collapse;

  thead {
    th {
      padding-left: 40px;
      padding-top: 35px;
      padding-bottom: 15px;
      color: $titleColor;
      width: auto;
    }
    .icon-arrow-up-small {
      font-size: 8px;
      display: none;
    }
    span:hover {
      background-color: $xsLightGrey;
      color: $superBlack;
      transition: all 0.2s linear;
      padding: 10px 10px 10px 10px;

      .icon-arrow-up-small {
        display: inline;
        margin-left: 6px;
      }
    }
  }
  td {
    padding-left: 42px;
    padding-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid $lightGrey;
    font-size: $smallFontSize;
  }
  tbody {

    tr:hover {
      background-color: $tableTrHover;
    }
    tr:last-child{
      border-bottom: 1px solid $lightGrey;
    }
  }
}

// description of postback page

.card-body.postback{
  padding: 18px;
}
.card-form {
  padding: 18px;

  .textarea-group {
    margin-bottom: 20px;
    textarea {
      height: 187px;
      width: 100%;
      margin-top: 23px;
    }
  }
  .signup-block{
    width: 50%;
    padding-right: 9px;
  }
  .deposit-block{
    width: 50%;
    padding-left: 9px;
  }

  .select-group-postback{
    label{
      display: block;
      margin-bottom: 15px;
      color: $titleColor;
      font-size: $titleFontSize;
      font-weight: $fontMedium;

    }
    .input-group{
      width: 32%;
    }
    .input-group:nth-child(-n + 2){
      margin-right: 25px;
    }
  }
  .parametrs-create-pixel{
    border-bottom: 1px solid $lightGrey;
    border-top: 1px solid $lightGrey;
    margin-top: 36px;
    margin-bottom: 28px;

    .checkbox-wrap{
      padding: 0;
    }

    .not-send{
      width: 50%;
      padding: 30px 19px;

      .section-title{
        display: inline;
      }
      .not{
        text-transform: uppercase;
        color: $red;
        font-weight: $fontMedium;
        font-size: $titleFontSize;
      }
    }
    .send-after{
      width: 50%;
      border-left: 1px solid $lightGrey;
      padding: 30px 19px;
    }
  }
}
//range slider
#custom-handle {
  top: 12px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: $orange;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  background: transparent;

  span {
    position: absolute;
    top: 25px;
    left: -25px;
  }
  &range-slider-wrap {
    height: 100px;
  }
}
  #slider {
    margin-top: 34px;
    height: 6px;
  }
      .ui-slider-horizontal {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      .ui-widget-header {
        border: none;
        border-radius: 0;
        background-color: $orange;
      }
      .ui-widget.ui-widget-content {
        border-radius: 0;
        border: none;
        background-color: $lightGrey;
      }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
      border-radius: 0;
    }
    .button-create-pixeles{
      text-align: right;
    }

